<div style="font-family: Courier">
    <h1>Cidades</h1>

    <p>Insira uma nova Cidade</p>

    <p *ngIf="!forecasts">
        <em>Loading...</em>
    </p>

    <form class="form-inline">
        <label for="cidadeNome">Nome</label>
        <input type="text" style="margin-left:30px;width:auto" class="form-control form-input-inline" [(ngModel)]="cidadeNome" name="cidadeNome"
        />

        <div class="dropdown" style="margin-top:10px" name="dropdownEstado">
            <label for="dropdownEstado">Estado</label>

            <select #selectElem (change)="setEstado(selectElem.value)" style="margin-left:15px" class="form-control">
                <option>Selecione um estado</option>
                <option *ngFor="let estado of estados" [value]="estado.id">
                    {{estado.nome}}
                </option>
            </select>
        </div>
        <div class="form-item">
            <button id="save" style="margin-top:20px" (click)="incluir()" class="btn btn-primary">Salvar</button>
            <button id="clear" style="margin-top:20px" (click)="clear()" class="btn btn-secoundary">Limpar</button>             
        </div>

    </form>
    <table class='table' *ngIf="forecasts">
        <thead>
            <tr>
                <th>Id</th>
                <th>Nome</th>
                <th>Estado</th>
                <th></th>
                <th></th>
            </tr>
        </thead>
        <tbody>
            <tr *ngFor="let forecast of forecasts">
                <td>{{forecast.id }}</td>
                <td>{{forecast.nome }}</td>
                <td>{{forecast.estado.nome}}</td>
                <td>
                    <button type="button" class="btn btn-primary" (click)="editar(forecast)">
                        Edit
                        <span class='glyphicon glyphicon-edit'></span>
                    </button>
                </td>
                <td>
                    <button type="button" class="btn btn-danger" (click)="remover(forecast)">
                        <span class='glyphicon glyphicon-trash'></span>
                    </button>
                </td>
            </tr>
        </tbody>
    </table>
</div>